footer {
  margin-top: 10rem;
}

code {
  font-family: "Syne Mono";
  color: rgba(217, 217, 217, 0.4392156863);
  font-size: 16px;
  border-radius: 6px;
  border: 1px dashed #d9d9d9;
  padding: 18px 2.4rem;
  margin: 2.4rem 0;
}
code:hover {
  color: #D9D9D9;
  background: rgba(217, 217, 217, 0.0196078431);
}

.intro {
  padding: 10rem 0 6rem;
}
.intro .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.page-title {
  font-size: 4.6rem;
}
.page-title span {
  font-family: inherit;
  font-size: 0.7em;
  font-weight: 200;
}

.highlight {
  padding: 4px 8px;
  border-radius: 6px;
}
.highlight:hover {
  background: var(--data-color);
}

.highlighted {
  background: transparent;
  padding: 12px;
  border-radius: 6px;
}
.highlighted.active {
  background: var(--data-color);
}

.page-description {
  font-size: 18px;
  line-height: 1.4;
  max-width: 960px;
  font-weight: 200;
  opacity: 0.5;
}

.post-infos p {
  font-size: 16px;
}

.body {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 8rem;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content > * {
  margin-bottom: 16px;
  max-width: 100%;
}
.content p {
  font-size: 18px;
  opacity: 0.8;
  line-height: 1.6;
}

#form-wrapper {
  border-radius: 20px;
  background: linear-gradient(223deg, #121212 13.37%, #242424 32.68%, #121212 56.44%);
  border-radius: 10px;
  padding: 4rem 2.4rem;
  position: relative;
}
#form-wrapper:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23333' stroke-width='1' stroke-dasharray='5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
#form-wrapper .botton-wrapper {
  position: absolute;
  top: -45px;
  right: -45px;
}
#form-wrapper .botton-wrapper .botton-text {
  position: absolute;
  top: 0;
  animation: bottonRotate linear 20s infinite;
}
#form-wrapper h2 {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  width: 80%;
}
#form-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  z-index: 2;
}
#form-wrapper button {
  font-family: "Syne Mono";
  font-size: 1.6rem;
  color: #D9D9D9;
  background: #4D34E7;
  border: none;
  border-radius: 6px;
  padding: 1.8rem 2.4rem;
  margin-top: 12px;
  cursor: pointer;
  transition: 0.5s;
}
#form-wrapper button:hover {
  opacity: 0.9;
}
#form-wrapper .alert {
  font-size: 12px;
  color: #D9D9D9;
  opacity: 0.75;
}
#form-wrapper .input-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding: 0 2.4rem;
  background: #161616;
  border-radius: 6px;
  transition: 0.5s;
  position: relative;
  z-index: 100;
}
#form-wrapper .input-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23333' stroke-width='1' stroke-dasharray='5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
#form-wrapper .input-wrapper.error:focus-within {
  border-color: red;
}
#form-wrapper .input-wrapper:focus-within {
  border-color: #D9D9D9;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23D9D9D9FF' stroke-width='1' stroke-dasharray='5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
#form-wrapper .input-wrapper img {
  width: 12px;
}
#form-wrapper .input-wrapper input {
  font-family: "Syne Mono";
  font-size: 14px;
  border: none;
  width: 100%;
  background: transparent;
  outline: none;
  padding: 2rem 0;
  color: #D9D9D9;
}