footer {
  margin-top: 10rem;
}

code {
  font-family: "Syne Mono";
  color: #D9D9D970;
  font-size: 16px;

  border-radius: 6px;
  border: 1px dashed #d9d9d9;

  padding: 18px 2.4rem;

  // margin: 2.4rem 0;

  &:hover {
    color: #D9D9D9;
    background: #D9D9D905;
  }
}

.intro {
  padding: 10rem 0 6rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.page-title {
  font-size: 4.6rem;
  // max-width: 720px;

  span {
    font-family: inherit;
    font-size: .7em;
    font-weight: 200;
  }
}

.highlight {
  // background: #D9D9D905;
  padding: 4px 8px;
  border-radius: 6px;

  text-decoration: underline;
  &:hover {
    background: var(--data-color);
  }
}

.highlighted {
  background: transparent;
  padding: 12px;
  border-radius: 6px;

  &.active {
    background: var(--data-color);
  }
}

.page-description {
  font-size: 18px;
  line-height: 1.4;
  max-width: 960px;

  font-weight: 200;
  opacity: .5;
}

.post-infos {
  p {
    font-size: 16px;
  }
}

.body {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 8.0rem;

  width: 100%;
}

.content {

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > * {
    // margin-bottom: 16px;
    max-width: 100%;
  }

  code {
    margin: 2.4rem 0;
  }

  h2 {
    font-size: 2.4rem;
    margin: 2.4rem 0 16px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
    opacity: .8;

    line-height: 1.6;
  }
}

#form-wrapper {
  border-radius: 20px;
  // border: 1px dashed #474747;
  background: linear-gradient(223deg, #121212 13.37%, #242424 32.68%, #121212 56.44%);
  // background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23333' stroke-width='1' stroke-dasharray='5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 10px;

  padding: 4.0rem 2.4rem;

  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23333' stroke-width='1' stroke-dasharray='5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }

  .botton-wrapper {
    position: absolute;
    top: -45px;
    right: -45px;

    .botton-text {
      position: absolute;
      top: 0;
     animation: bottonRotate linear 20s infinite;
    }

  }

  h2 {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
    width: 80%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    z-index: 2;
  }

  button {
    font-family: "Syne Mono";
    font-size: 1.6rem;
    color: #D9D9D9;
    background: #4D34E7;
    border: none;
    border-radius: 6px;
    padding: 1.8rem 2.4rem;
    margin-top: 12px;
    cursor: pointer;
    transition: .5s;

    &:hover {
      opacity: .90;
    }
  }

  .alert {
    font-size: 12px;
    color: #D9D9D9;
    opacity: .75;
  }


  .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;

    padding: 0 2.4rem;

    // border: 1px dashed #474747;
    
    // border-radius: 10px;
    background: #161616;
    border-radius: 6px;

    transition: .5s;

    position: relative;
    z-index: 100;

    &:before {
      content: '';
      
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23333' stroke-width='1' stroke-dasharray='5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }

    &.error:focus-within {
      border-color: red;
    }

    &:focus-within {
      border-color: #D9D9D9;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23D9D9D9FF' stroke-width='1' stroke-dasharray='5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }

    img {
      width: 12px;
    }

    input {
      font-family: "Syne Mono";
      font-size: 14px;
      border: none;
      width: 100%;
      background: transparent;
      outline: none;
      padding: 2rem 0;
      color: #D9D9D9;
    }
  }
}