:root {
  --text-color: #d9d9d9;
  --background-color: #121212;
}

@font-face {
  font-family: "Syne";
  src: local("Syne Bold"), local("Syne-Bold"), url("/assets/fonts/Syne-Bold.woff2") format("woff2"), url("/assets/fonts/Syne-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Syne Mono";
  src: local("Syne Mono"), local("Syne-Mono"), url("/assets/fonts/SyneMono-Regular.woff2") format("woff2"), url("/assets/fonts/SyneMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  background: #121212;
  color: #D9D9D9;
  font-family: "Syne";
  font-optical-sizing: auto;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Syne";
}

p, span {
  font-family: "Syne Mono", monospace;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  position: relative;
  display: grid;
  place-content: center;
  padding: 2rem 2.4rem;
  border-radius: 1rem;
  /* border: 1px solid #000; */
  background: linear-gradient(130deg, rgba(215, 202, 202, 0.15) 0%, rgba(101, 99, 99, 0) 100%);
  border-radius: 4px;
  /* background: linear-gradient(142deg, rgba(255, 255, 255, 0.05) 0%, transparent); */
  /* background: transparent; */
  transition: 1s;
  font-family: "Syne Mono";
  font-size: 1.2rem;
  font-weight: 200;
  color: rgba(217, 217, 217, 0.4392156863);
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn span {
  transition: 0.5s;
  left: 25%;
  width: 50%;
}
.btn:hover span {
  width: 100% !important;
  left: 0;
}

.btn span:first-child {
  position: absolute;
  top: 0;
  height: 1px;
  background: linear-gradient(to right, transparent, #656262, #d9d9d9, #656262, transparent);
  mix-blend-mode: color-dodge;
}

.btn span:last-child {
  position: absolute;
  bottom: 0;
  height: 1px;
  background: linear-gradient(to right, transparent, #656262, #d9d9d9, #656262, transparent);
  mix-blend-mode: color-dodge;
}

.container {
  width: 95%;
  max-width: 1312px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

header {
  padding: 16px 0;
  width: 100%;
  background: rgba(22, 22, 22, 0.5019607843);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  position: sticky;
  top: 0;
  z-index: 999;
}
header .logo {
  font-size: 2.6rem;
  font-weight: 800;
  text-decoration: none;
  color: #D9D9D9;
}
header .logo span {
  font-family: "Syne Mono";
}

footer {
  padding: 16px 0 8rem;
  width: 100%;
}
footer .logo {
  font-size: 2.6rem;
  font-weight: 800;
  text-decoration: none;
  color: #D9D9D9;
}
footer .logo span {
  font-family: "Syne Mono";
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
footer .right img {
  height: 18px;
}
footer .right a {
  transition: 0.5s;
}
footer .right a:hover {
  opacity: 0.6;
}
footer .right span {
  font-family: "Syne Mono";
  font-size: 1.6rem;
  margin-right: 8px;
  opacity: 0.65;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 8px;
  }
  .container {
    width: 90%;
  }
  footer .right span {
    display: none;
  }
}