:root {
  --text-color: #d9d9d9;
  --background-color: #121212;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  background: #121212;
  color: #D9D9D9;

  font-family: "Syne";
  font-optical-sizing: auto;

  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Syne";
}

p, span {
  font-family: "Syne Mono", monospace;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 95%;
  max-width: 1312px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

header {
  padding: 16px 0;
  width: 100%;
  background: #16161680;
  backdrop-filter: blur(6px);
  position: sticky;
  top: 0;
  z-index: 999;

  .logo {
    font-size: 2.6rem;
    font-weight: 800;
    text-decoration: none;
    color: #D9D9D9;
    span {
      font-family: "Syne Mono";
    }
  }
} 

footer {
  padding: 16px 0 8.0rem;
  width: 100%;
  // background: #16161680;

  .logo {
    font-size: 2.6rem;
    font-weight: 800;
    text-decoration: none;
    color: #D9D9D9;
    span {
      font-family: "Syne Mono";
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 8px;

    img {
      height: 18px;
    }

    a {
      transition: .5s;
      &:hover {
        opacity: .6;
      }
    }

    span {
      font-family: "Syne Mono";
      font-size: 1.6rem;
      margin-right: 8px;
      opacity: .65;
    }
  }
} 

@media screen and (max-width: 900px) {
  html {
    font-size: 8px;
  }

  .container {
    width: 90%;
  }

  footer {
    .right {
      span {
        display: none;
      }
    }
  }
}