
body, #page-wrapper {
  overflow-x: unset;
}

html {
  overflow: unset;
}

#intro {
  padding: 4.0rem 0;

  .infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;

    .btn {
      margin-top: 2.4rem;
    }
  }
}

.page-title {
  font-size: 5.6rem;
  font-weight: 800;
  max-width: 800px;

  margin: 4.8rem 0 0;
}

.page-description {
  font-size: 2rem;
  font-weight: 400;
  max-width: 800px;
  opacity: .7;
}

.btn {
  font-size: 1.4rem;
  font-family: "Syne Mono";
  color: #D9D9D9;
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  padding: 16px 2.4rem;
  background-color: #D9D9D902;
  border-radius: 10px;

  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%237D7D7DFF' stroke-width='1' stroke-dasharray='5%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

  &:hover {
    background-color: #D9D9D905;
  }

}

.section-title {
  font-size: 5.6rem;
  text-align: center;

  margin-top: -40px;
}

.section-description {
  font-family: "Syne Mono";
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  opacity: .7;
}

svg {
  max-width: 100%;
}

#funcionamento {
  margin-top: 10rem;
  position: relative;
}

#bonus {
  margin-top: 10rem;

  position: relative;
  overflow: hidden;

  padding-bottom: 10rem;

  .light {
    position: absolute;
    top: 00px;
    left: 0;
    z-index: -1;
    width: 70%;

  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boxes {
    margin-top: 8rem;

    width: 80%;
    max-width: 795px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6.0rem;
    
    .box-item {
      max-width: 544px;

      border-radius: 20px;
      // border: 1px dashed #474747;
      background-color: linear-gradient(223deg, #121212 13.37%, #242424 32.68%, #121212 56.44%);

      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23474747FF' stroke-width='1' stroke-dasharray='5%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      padding: 4.0rem 3.2rem;
      position: relative;

      display: flex;
      flex-direction: column;
      gap: 3.2rem;

      &:nth-child(even) {
        align-self: flex-end;
      }

      h3 {
        font-size: 3.4rem;
        font-size: 700;
        width: 80%;
      }

      p {
        font-size: 2rem;
        opacity: .7;
      }

      > span {
        font-size: 12px;
        opacity: .5;
      }

      .line-dots {
        position: absolute;
        bottom: -85px;
        right: 0;

        &.top {
          bottom: unset;
          top: -85px;
          transform: rotateX(180deg);
        }
      }

      .price {
        position: absolute;
        top:-30px;
        right: -30px;

        display: flex;
        flex-direction: column;
        place-content: center;
        // gap: -18px;
        
        text-align: center;

        width: 100px;
        height: 100px;

        background-color: #161616;

        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23696969FF' stroke-width='1' stroke-dasharray='10%25%2c 5%25' stroke-dashoffset='86' stroke-linecap='butt'/%3e%3c/svg%3e");
        border-radius: 100px;

        span {
          font-size: 3rem;

          &:first-child {
            font-size: 1.6rem;
          }

          &:last-child {
            font-family: "Syne";
            margin-top: -8px;
          }
        }
      }
    }
  }
}

#investimento {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  .light {
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box {
    margin-top: 6.0rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
    border: 1px dashed #474747;
    background: linear-gradient(223deg, rgba(18, 18, 18, 0.50) 13.37%, rgba(36, 36, 36, 0.50) 32.68%, rgba(18, 18, 18, 0.50) 56.44%);
  
    .header {
      padding: 2.4rem 4.0rem;
      border-bottom: 1px dashed #474747;

      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;

      img {
        max-width: 120px;
      }
    }

    .footer {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0px;

      padding: 2.4rem 12.0rem 6.0rem;

      h3 {
        font-size: 2.6rem;
        font-weight: 700;
      }

      .price {
        font-family: "Syne";
        font-size: 6rem;

        span {
          font-family: "Syne";
          font-size: 2rem;
        }
      }
    }

    .body {
      width: 100%;
      padding: 4rem 4rem 6rem;

      display: flex;
      flex-direction: column;
      gap: 8px;

      border-bottom: 1px dashed #474747;

      h3 {
        font-size: 2.6rem;
        font-weight: 700;
        margin: 1.6rem 0;
      }

      p {
        display: flex;
        align-items: center;
        gap: 8px;

        font-size: 1.6rem;
      }
    }
  }

} 

@media screen and (max-width:768px) {
  .page-title {
    font-size: 3.8rem;
  }
}

@media screen and (max-width: 1100px) {
  #bonus {
    .box-item {
      .line-dots {
        display: none;
      }
    }
  }

  #bonus {
    .boxes {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 9px;
  }


}